<ion-view title="Pending Forms">

    <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item item-type="item item-icon-left" ng-repeat="form in p_forms" item="form" ng-click="openForm(form)">
                <h2>{{form.firstName}} {{form.lastName}}</h2>
                <span style="color: #7f8c8d;"><p>{{form.cardNumber| cardNumber}}</p></span>

                <ion-reorder-button class="ion-navicon" on-reorder="moveForm(form, $fromIndex, $toIndex)"></ion-reorder-button>

            </ion-item>  
            <button ng-disabled="p_forms.length===0"  class="button button-block button-assertive" ng-click="deleteAll()" ><i class="icon ion-ios7-trash"></i> Remove All</button>
        </ion-list>

    </ion-content>
</ion-view>
